ul{
  list-style: none;
}

a{
  text-decoration: none;
}

button{
  outline: none;
  border: none;
}

input{
  outline: none;
  border: none;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #24252a;
  box-shadow: 2px 2px 20px rgba(25, 48, 66, 0.514);
  z-index: 1;
  width: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
}

.menu{
  margin-left: 50%;
}

nav ul{
display: flex;
margin: 0px;
padding: 7px;
}

nav ul li a{
height: 40px;
line-height: 43px;
margin: 2px;
padding: 0px 15px;
display: flex;
font-size: 0.9rem;
text-transform: uppercase;
font-weight: 600;
color: deepskyblue;
letter-spacing: 1px;
transition: 0.3s ease-in-out;
}

nav ul li a:hover{
  border-radius: 5px;
  background-color: #5cfdb2;
  color: #10003d;
  box-shadow: 2px 2px 20px rgba(1, 141, 82, 0.514);
}

.active{
  border-radius: 5px;
  background-color: #5cfdb2;
  color: #10003d;
  box-shadow: 2px 2px 20px rgba(1, 141, 82, 0.514);
}

nav .menu-button{
  display: none;

}

/**search bar**/
.container{
  display:inline-flex;
  align-items: center;
  justify-content: space-between;
}

.search-bar{
  width: 100%;
  max-width: 470px;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  border-radius: 60px;
  padding: 0px 20px;
  backdrop-filter: blur(4px) saturate(180%);
  -webkit-backdrop-filter: blur(4px) saturate(180%);
  left: 15%;
  position: absolute;
}

.search-bar input{
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 15px;
  font-size: 20px;
  color: #cacaca;
}

.search-bar button img{
   width: 25px;
}

.search-bar button{
  border: 0;
  border-radius: 50%;
  width: 60px;
  height: 62px;
  background-color: transparent;
  cursor: pointer;
}

